In [183]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
%matplotlib inline

In [198]:
housing_data = pd.read_csv('housing.csv')

In [199]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [200]:
housing_data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [201]:
y_val = housing_data['median_house_value']

In [202]:
x_val = housing_data.drop(['median_house_value','longitude','latitude','ocean_proximity'], axis=1)

In [203]:
x_val.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,41.0,880.0,129.0,322.0,126.0,8.3252
1,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,52.0,1467.0,190.0,496.0,177.0,7.2574
3,52.0,1274.0,235.0,558.0,219.0,5.6431
4,52.0,1627.0,280.0,565.0,259.0,3.8462

In [204]:
x_val = x_val.fillna(x_val.mean())

In [205]:
X_train, X_test, y_train, y_test = train_test_split(x_val, y_val, test_size=0.3, random_state=101)

In [206]:
scaler = MinMaxScaler()

In [207]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [208]:
X_train.isnull().count()

housing_median_age    14448
total_rooms           14448
total_bedrooms        14448
population            14448
households            14448
median_income         14448
dtype: int64

In [209]:
pd.DataFrame(X_train).fillna(X_train.mean)

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
6761,19.0,2742.0,756.0,1396.0,703.0,2.5663
3010,32.0,444.0,102.0,242.0,87.0,1.1528
7812,35.0,994.0,203.0,602.0,185.0,3.5865
8480,35.0,1281.0,219.0,710.0,184.0,4.8304
1051,16.0,1257.0,231.0,559.0,213.0,4.4531
16312,32.0,4474.0,929.0,2177.0,884.0,3.2889
2042,23.0,2097.0,385.0,911.0,405.0,3.5128
1755,46.0,1901.0,295.0,833.0,352.0,5.5196
16022,52.0,2401.0,346.0,812.0,328.0,6.8322
20441,24.0,4072.0,582.0,1834.0,565.0,6.0487
13243,9.0,3877.0,490.0,1815.0,490.0,8.4839
6450,44.0,2007.0,288.0,921.0,307.0,6.5989
10229,36.0,931.0,279.0,778.0,303.0,2.6563
6463,43.0,1833.0,355.0,786.0,334.0,3.5761
183,50.0,1746.0,480.0,1149.0,415.0,2.2500
303,27.0,909.0,236.0,396.0,157.0,2.0786
1042,18.0,2791.0,492.0,1187.0,438.0,3.2589
14741,17.0,2724.0,567.0,2213.0,554.0,3.8529
18381,18.0,1080.0,122.0,382.0,121.0,9.0800
2443,22.0,1794.0,435.0,1127.0,359.0,1.2647
7641,29.0,2755.0,508.0,2046.0,488.0,5.2034
517,52.0,1611.0,203.0,556.0,179.0,8.7477
15465,13.0,4273.0,886.0,2328.0,801.0,3.3444
14309,35.0,614.0,180.0,691.0,164.0,1.6953
1477,21.0,6445.0,1839.0,3621.0,1735.0,2.5841
17197,28.0,1985.0,582.0,1092.0,548.0,2.4701
2895,35.0,825.0,179.0,670.0,181.0,1.1638
15638,52.0,3598.0,1011.0,2062.0,966.0,2.9871
18035,27.0,1265.0,216.0,660.0,232.0,5.3911
18295,31.0,2356.0,405.0,921.0,358.0,7.0245
...,...,...,...,...,...,...
3748,42.0,1308.0,289.0,950.0,302.0,2.7379
7742,25.0,3341.0,789.0,1685.0,751.0,3.6936
6383,36.0,3908.0,732.0,1688.0,725.0,4.5625
11721,19.0,1746.0,306.0,251.0,104.0,4.8182
8535,22.0,1127.0,287.0,697.0,241.0,3.3971
20191,11.0,4695.0,955.0,2065.0,982.0,3.2158
15436,19.0,4400.0,828.0,1901.0,735.0,3.6375
12170,18.0,4799.0,1035.0,1966.0,944.0,2.1182
5758,22.0,2664.0,651.0,1553.0,629.0,3.6354
18707,40.0,3895.0,929.0,1782.0,910.0,1.3329
17657,35.0,2418.0,375.0,988.0,374.0,6.0936
9772,23.0,2095.0,536.0,1858.0,457.0,3.0543
18491,16.0,3120.0,685.0,2383.0,681.0,3.5551
19315,19.0,1968.0,350.0,852.0,308.0,4.6705
1949,15.0,1533.0,300.0,674.0,287.0,2.5625
12911,31.0,3114.0,430.0,1121.0,456.0,6.2440
49,40.0,946.0,375.0,700.0,352.0,1.7750
19566,23.0,3497.0,887.0,2467.0,816.0,1.9444
13020,23.0,1843.0,273.0,818.0,276.0,4.4695
6460,36.0,1606.0,318.0,889.0,294.0,4.7931
2623,23.0,2103.0,411.0,1019.0,387.0,2.9911
17357,21.0,2131.0,329.0,1094.0,353.0,4.6648
20463,20.0,3495.0,449.0,1629.0,428.0,5.8096
12363,3.0,9169.0,1512.0,3838.0,1270.0,4.3111
16983,36.0,805.0,140.0,445.0,139.0,5.8221
5695,34.0,2421.0,475.0,1232.0,454.0,4.6852
8006,36.0,956.0,159.0,416.0,157.0,4.6429
17745,6.0,3526.0,559.0,1378.0,491.0,6.1463
17931,36.0,832.0,211.0,545.0,211.0,3.2813
13151,23.0,3359.0,725.0,1862.0,651.0,2.6719

In [210]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))